html{
    scroll-behavior: smooth;
}
body{
    background-color: gray;
}
.panel{
    background-color: grey;
}
.caption{
    background-color: #00009c;
    font-size: 14pt;
    margin-top: 10px;
    border-radius: 5px;
}
.btn a:hover{
    color: brown;
}
.nav a{
    color: aliceblue;
    font-size: 14pt;
}
.nav a:hover{
    color: brown;
}
.navbar-brand{
    color: white;
    letter-spacing: 5px;
}
.navbar-brand:hover{
    background-color: aliceblue;
    color: brown;
}
.jumbotron{
    height: 100vh;
}
.white{
    color: aliceblue;
}
.code{
    color: #00009c;
    transition: 0.4s ease-in-out;
}
.row:hover .code{
    color: orange;
}
#contact{
    border-bottom: 5px solid tomato;
}
.row a, .btn a{
    text-decoration: none;
}
.contacts h1{
    font-size: 36pt;
    font-weight: bolder;
    margin-bottom: 0;
}
.contacts p{
    font-size: 14pt;
    font-style: italic;
}
.social{
    display: flex;
    justify-content: center;
}
.social li{
    list-style: none;
    padding: 10px;
    transition: 0.4s ease-in-out;
}
.social a{
    text-decoration: none;
    color: aliceblue;
}
.social li:hover{
    font-size: 16pt;
}
footer p{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 20px;
}
footer a{
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    text-decoration: none;
    padding: 0 40px 10px 10px;
    text-align: center;
    margin-top: 0;
}
@media only screen and (max-width: 550px){
  #welcome-section{
    width: 100%;
  }
    .project-container{
        width: 100%;
        display: block;
        margin-bottom: 0;
    }
    .project-img{
      width: 250px;
    }
    #navbar{
        height: fit-content;
    }
    nav ul{
        display: flex;
        margin: 10px;
    }
    nav li{
        padding: 5px;
    }
    nav li:hover{
        max-width: fit-content;
    }
    .welcome-section{
        padding: 10px;
        width: 90%;
    }
    .big-text{
        font-size: 24pt;
    }
    .small-text{
        font-size: 14pt;
        margin: 10px;
    }
    .social{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .contacts{
        width: 100%;
    }
}
@media only screen and(max-width: 480px){
    .project-img{
        width: 200px;
        height: 200px;
    }
    #welcome-section{
        width: 90%;
    }
    #projects{
        width: 100%;
    }
    .big-text{
        font-size: 20pt;
    }
    .small-text{
        font-size: 10pt;
        margin: 10px;
    }
}
@media only screen and (max-width: 300px){
    .project-img{
        max-width: 180px;
    }
    #contacts{
        width: 100%;
    }
    .social li{
        padding: 3px;
    }
}
