body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #6c7b8b;
    color: aliceblue;
}
#navbar{
    width: 100%;
    height: 50px;
    background-color: brown;
    position: fixed;
    top: 0;
    z-index: 1;
}
.fa-bars{
    position: absolute;
    display: none;
color: blue;
font-size: 20pt;
padding: 20px;
}
nav ul{
display: flex;
justify-content: flex-end;
align-items: center;
margin-right: 3%
}
nav li{
    list-style: none;
    padding: 0 10px 10px 10px;
}
nav a{
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    font-size: 16pt;
}
nav li:hover{
    background-color: #838b8b;
}
#welcome-section{
    background-color: #556b2f;
    color: aliceblue;
    width: 100%;
    height: 100vh;
    text-align: center;
}
.welcome-section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.small-text{
    font-size: 16pt;
    color: tomato;
    font-weight: normal;
}
.big-text{
    font-size: 36pt;
}
button{
    padding: 10px;
    background-color: orange;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}
button a{
    text-decoration: none;
    font-size: 12pt;
    color: aliceblue;
}
.project-link{
    box-shadow: 2px #8470ff;
    border-radius: 3px;
}
#projects{
    background: gray;
    padding: 20px;
    text-align: center;
}
.project-img{
    width: 320px;
    height: 300px;
    object-fit: cover;
}
.project-container{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 18px;
}
.projects-desc{
    width: fit-content;
    margin: 0 auto;
    color: aliceblue;
    border-bottom: 1px solid aliceblue;
}
.desc{
    position: relative;
    top: 12px;
}
.project-tile{
    padding: 5px;
    text-decoration: none;
    font-size: 16pt;
    color: aliceblue;
}
.code{
    color: gray;
    transition: 0.4s ease-in-out;
}
.project-container:hover .code{
    color: orange;
}
#contact{
    border-bottom: 5px solid tomato;

}
.contacts{
    width: 60%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
}
.contacts h1{
    font-size: 36pt;
    font-weight: bolder;
    margin-bottom: 0;
}
.contacts p{
    font-size: 14pt;
    font-style: italic;
}
.social{
    display: flex;
}
.social li{
    list-style: none;
    padding: 10px;
}
.social a{
    text-decoration: none;
    color: aliceblue;
}
.social li:hover{
    font-size: 16pt;
    transition: 0.4 s ease-in-out;
}
footer p{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 20px;
}
footer a{
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    text-decoration: none;
    padding: 0 40px 10px 10px;
    text-align: center;
    margin-top: 0;
}
@media only screen and (max-width: 550px){
  #welcome-section{
    width: 100%;
  }
    .project-container{
        width: 100%;
        display: block;
        margin-bottom: 0;
    }
    .project-img{
      width: 250px;
    }
    #navbar{
        height: fit-content;
    }
    nav ul{
        display: flex;
        margin: 6px;
    }
    nav li{
        padding: 5px;
    }
    nav li:hover{
        max-width: fit-content;
    }
    .welcome-section{
        padding: 10px;
        width: 90%;
    }
    .big-text{
        font-size: 24pt;
    }
    .small-text{
        font-size: 14pt;
        margin: 10px;
    }
    .social{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .contacts{
        width: 100%;
    }
}
@media only screen and(max-width: 480px){
    .project-img{
        width: 200px;
        height: 200px;
    }
    #welcome-section{
        width: 90%;
    }
    #projects{
        width: 100%;
    }
    .big-text{
        font-size: 20pt;
    }
    .small-text{
        font-size: 10pt;
        margin: 10px;
    }
}
@media only screen and (max-width: 300px){
    .project-img{
        max-width: 180px;
    }
    #contacts{
        width: 100%;
    }
    .social li{
        padding: 3px;
    }
}
