html{
    scroll-behavior: smooth;
}
body{
    background-color: gray;
}
.panel{
    background-color: grey;
}
.caption{
    background-color: #00009c;
    font-size: 14pt;
    margin-top: 10px;
    border-radius: 5px;
}
.btn a:hover{
    color: brown;
}
.nav a{
    color: aliceblue;
    font-size: 14pt;
}
.nav a:hover{
    color: brown;
}
.navbar-brand{
    color: white;
    letter-spacing: 5px;
}
.navbar-brand:hover{
    background-color: aliceblue;
    color: brown;
}
#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.jumbotron h1{
    font-size: 36pt;
}
.jumbotron p{
    font-size: 24pt;
}
.white{
    color: aliceblue;
}
.code{
    color: #00009c;
    transition: 0.4s ease-in-out;
}
.row:hover .code{
    color: orange;
}
#contact{
    border-bottom: 5px solid tomato;
}
.row a, .btn a{
    text-decoration: none;
}
.contacts h1{
    font-size: 36pt;
    font-weight: bolder;
    margin-bottom: 0;
}
.contacts p{
    font-size: 14pt;
    font-style: italic;
}
.social{
    display: flex;
    justify-content: center;
}
.social li{
    list-style: none;
    padding: 10px;
    transition: 0.4s ease-in-out;
}
.social a{
    text-decoration: none;
    color: aliceblue;
}
.social li:hover{
    font-size: 16pt;
}
footer p{
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 20px;
}
footer a{
    display: flex;
    justify-content: flex-end;
    color: aliceblue;
    text-decoration: none;
    padding: 0 40px 10px 10px;
    text-align: center;
    margin-top: 0;
}
@media only screen and (max-width: 550px){
  #welcome-section{
    width: 100%;
  }

  .jumbotron h1 {
    font-size: 24pt;
  }

  .jumbotron p {
    font-size: 14pt;
  }
    .social{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .contacts{
        width: 100%;
    }
}
@media only screen and(max-width: 480px){
    #contacts{
        width: 100%;
    }
    .social li{
        padding: 3px;
    }
}
